body{
    background-color: darkslategrey;
    color: gray;
}
h1{
    color: #1852b7;
    margin-left: 50px;
}
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #555555;

}
li.main-menu-item {
    float: left;
}
li.main-menu-item a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.main-menu-item a:hover {
    background-color: #111;
}
